[package]
name = "cryptography-keepalive"
version.workspace = true
authors.workspace = true
edition.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
pyo3 = { version = "0.22.4", features = ["abi3"] }
