[run]
branch = True
source_pkg =
    cryptography
source =
    cryptography/src/cryptography/
    cryptography/tests/

[paths]
source =
    cryptography/src/cryptography
    .tox/*/lib/python*/site-packages/cryptography
    .tox/pypy/site-packages/cryptography

[report]
exclude_lines =
    @abc.abstractmethod
    @abc.abstractproperty
