__pycache__/
_build/
build/
dist/
htmlcov/
cryptography/_cffi__*
cryptography/_Cryptography_cffi_*
cryptography_core/cryptography/_Cryptography_cffi_*
cryptography_commoncrypto/_Cryptography_cffi_*
cryptography_openssl/_Cryptography_cffi_*
.tox/
.cache/
.coverage
*.egg-info/
*.egg
*.py[co]
