include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include LICENSE.APACHE
include LICENSE.BSD
include LICENSE.PSF
include README.rst

include pyproject.toml
recursive-include src py.typed *.pyi

recursive-include docs *
recursive-include src/_cffi_src *.py *.c *.h
recursive-include src/rust Cargo.toml Cargo.lock *.rs
prune docs/_build
recursive-include tests *.py
exclude vectors
recursive-exclude vectors *

recursive-exclude .github *

exclude release.py .readthedocs.yml dev-requirements.txt tox.ini mypy.ini

recursive-exclude .circleci *
