include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include LICENSE.APACHE
include LICENSE.BSD
include README.rst
include noxfile.py

include pyproject.toml
recursive-include src py.typed *.pyi

recursive-include docs *
recursive-include src/_cffi_src *.py *.c *.h
recursive-include src/rust Cargo.toml Cargo.lock *.rs
prune docs/_build
recursive-include tests *.py
exclude vectors
recursive-exclude vectors *
exclude src/rust/target
recursive-exclude src/rust/target *

recursive-exclude .github *

exclude release.py .readthedocs.yml ci-constraints-requirements.txt mypy.ini
