[project]
	description = cryptography is a package designed to expose cryptographic primitives and recipes to Python developers.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Stapleton (public)
[access "refs/for/refs/*"]
	read = group user/Alex Stapleton (public)
	push = group user/Alex Stapleton (public)
	label-Code-Review = -2..+2 group user/Alex Stapleton (public)
	label-Verified = -1..+1 group user/Alex Stapleton (public)
	rebase = group user/Alex Stapleton (public)
	removeReviewer = group user/Alex Stapleton (public)
	submit = group user/Alex Stapleton (public)
[access "refs/heads/*"]
	read = group user/Alex Stapleton (public)
	create = group user/Alex Stapleton (public)
	push = +force group user/Alex Stapleton (public)
	pushMerge = group user/Alex Stapleton (public)
[access "refs/tags/*"]
	push = +force group user/Alex Stapleton (public)
	pushTag = group user/Alex Stapleton (public)
	pushSignedTag = group user/Alex Stapleton (public)
