# Must be kept sync with build-system.requires at pyproject.toml
setuptools!=74.0.0
cffi>=1.14; platform_python_implementation != 'PyPy' and python_version == '3.8'
cffi>=2.0.0; platform_python_implementation != 'PyPy' and python_version >= '3.9'
maturin>=1,<2

# Must be kept sync with build-system.requires at vectors/pyproject.toml
uv_build>=0.7.19,<0.9.0

# Must be kept in sync with project.dependencies at pyproject.toml
typing-extensions>=4.13.2; python_version < '3.11'

# WARN: changing the requirements here DOES NOT update the dependencies used
# for building at the github workflow -- it uses build-requirements.txt
# To update build-requirements.txt, update this file and then run
# uv pip compile --universal --python-version 3.9 --allow-unsafe --generate-hashes build-requirements.in -o build-requirements.txt
